# Ignore bundler config.
/Pods
*.DS_Store
BankOK.xcodeproj/xcuserdata
BankOK.xcworkspace/xcuserdata
BankOK.xcodeproj/project.xcworkspace/xcuserdata
infer-out
.idea/.name
.idea/encodings.xml
.idea/gm_ios_client.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
ObjcUML/dependency.css
ObjcUML/index.html
ObjcUML/origin.js
ObjcUML/Scripts/d3.v3.js
ObjcUML/Scripts/d3.v3.min.js
ObjcUML/Scripts/d3js-LICENSE
ObjcUML/Scripts/parse.js
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*/*Screen.png
fastlane/screenshots/*/*framed.png
fastlane/screenshots/screenshots.html
fastlane/test_output
*.ipa
*.dSYM.zip
.idea/codeStyleSettings.xml
.idea/iOSbankOk.iml
.idea/runConfigurations/BankOK.xml
.idea/runConfigurations/BankOKWidget.xml
BankOK/Resources/Images.xcassets/AccountDetails/Pay.imageset/Contents.json
BankOK/Resources/Images.xcassets/AccountDetails/Pay.imageset/pay.pdf
BankOK/SwiftGen/Asset.swift
BankOK/SwiftGen/Localization.swift
.env

gitkraken_rsa\.pub

gitkraken_rsa
.ruby-version
/AbolChat/AbolChat.xcodeproj/xcuserdata
/AbolChat/AbolChat.xcworkspace/xcuserdata
/AbolChat/Pods
